@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "charterITC";
	src: url("../fonts/charterITC.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "PT Sans";
	src: url("../fonts/PTSansRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
	position: relative;
	width: 1260px;
	margin: auto;
}
#header {
	position: absolute;
}
#header_logo {
	position: absolute;
	left: 200px;
}
#header_address {
	width: 300px;
	position: absolute;
	left: 400px;
	padding-top: 15px;
}
#header_address>span:first-child {
	font-size: 0.9em;
}
#header_phone {
	position: absolute;
	width: 300px;
	left: 730px;
	top: 15px;
}
#header_takeCall {
	position: absolute;
	left: 900px;
	top: 15px;
}
.PTSans_bold {
	font-family: PT Sans, sans-serif;
	font-weight: bold;
}
.charterITC_italic {
	font-family: charterITC, serif;
	font-style: italic;
	font-size: 0.9em;
}
/*====================================================================================*/

#menu {
	position: relative;
	top: 65px;
	height: 31px;
	background-image: url("../imgs/menu.jpg");
	background-repeat: repeat-y;
}
#menu ul {
	width: 1000px;
	position: absolute;
	left: 250px;
}
#menu li {
	list-style-type: none;
	float: left;
	padding-top: 5px;
	margin-left: 18px;
}
#menu li>a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color: white;
	font-size: 0.8em;
	font-family: PT Sans, sans-serif;
}
#menu li>a:hover {
	text-decoration: none;
}
/*====================================================================================*/

#slider {
	position: relative;
	top: 65px;
	width: 1260px;
	height: 600px;
	color: white;
	font-family: Roboto Slab, serif;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	overflow: hidden;
}
#slider>#img1 {
	z-index: -1;
	position: relative;
}
#slider>#img2 {
	z-index: -1;
	position: absolute;
	top: 0px;
	left: 1260px;
}
#slider_text {
	width: 1000px;
	position: absolute;
	top: 80px;
	left: 130px;
	font-size: 2.7em;
}
#slider_phone {
	position: absolute;
	top: 250px;
	left: 440px;
	font-size: 2.7em;
}
#slider>input {
	position: absolute;
	top: 330px;
	left: 495px;
}
#slider_switch {
	position: absolute;
	top: 500px;
	left: 605px;	
}
#slider_switch img {
	cursor: pointer;
}
/*====whywe==========================================================================*/

#whywe {
	top: 65px;
	position: relative;
	width: 1260px;
	height: 620px;
	background-image: url("../imgs/whywe.png");
}
#whywe_header {
	position: absolute;
	top: 100px;
	left: 230px;
	width: 800px;
	font-size: 2.5em;
	font-family: Roboto Slab, serif;
	font-weight: bold;
	text-align: center;
}
#whywe_header span:first-child {
	font-size: 0.7em;
}
#whywe_list {
	position: absolute;
	top: 350px;
	left: 190px;
}
#whywe_list li{
	float: left;
	text-align: center;
	list-style-type: none;
}
#whywe_list li:nth-child(-n+2) {
	margin-right: 50px;
}
#whywe_list li:nth-child(n+2) {
}
#whywe_list li:nth-child(n+3) {
	margin-right: 25px;
}
#whywe_list li:nth-child(n+4) {
	margin-right: 45px;
}
.greenBold {
	color: #0A471E;
	font-weight: bold;
	font-size: 1.1em;
	font-family: Roboto Slab, serif;
}
.simpleBold {
	font-weight: bold;
	font-size: 0.9em;
	font-family: Roboto Slab, serif;

}
.PTSansItalic {
	font-family: PT Sans, sans-serif;
	font-style: italic;
	font-size: 0.8em;
}
#whywe_list_big {
	font-size: 2em;
}
/*====================================================================================*/

aside[name=takeDiscnt] {
	position: relative;
	top: 65px;
	width: 1260px;
	height: 68px;
	background-image: url("../imgs/takeDiscnt_bg.png");
	background-repeat: repeat-y;
	font-family: Roboto Slab, serif;
}
aside[name=takeDiscnt] span {
	position: relative;
	top: -7px;	
}
aside[name=takeDiscnt] span:first-child {
	font-size: 1em;
	color: yellow;
}
aside[name=takeDiscnt] span:last-child {
	font-size: 0.8em;
	color: white;
}
aside[name=takeDiscnt] ul {
	width: 1000px;
	position: absolute;
	left: 130px;
	padding-top: 17px;
}
aside[name=takeDiscnt] li{
	float: left;
	list-style-type: none;
	margin-left: 20px;
}
.inputText {
	height: 30px;	
	padding-left: 10px;
}
/*====================================================================================*/

#production {
	position: relative;
	top: 65px;
	width: 1260px;
	height: 644px;
	background-image: url("../imgs/production_bg.png");
	color: white;
	font-family: Roboto Slab, serif;
}
#production_header {
	position: relative;
	top: 60px;
	left: 460px;
	width: 350px;
	font-size: 1.4em;
	letter-spacing: 0em;
}
#production ul {
	position: absolute;
	left: 200px;
	top: 180px;
}
#production li {
	position: relative;
	width: 271px;
	height: 271px;
	float: left;	
	list-style-type: none;
	margin-right: 25px;
	color: black;
	text-align: center;
}
#production li>span {
	position: relative;
	top: 130px;
}
#production li>span:first-child {
	font-weight: bold;
	font-size: 0.7em;
	line-height: 1.5em;
	letter-spacing: 0.4em;
}
#production span:last-child {
	font-weight: bold;
	font-size: 1.5em;
}
#production li:first-child {
	background-image: url("../imgs/leftCircle.png");
}
#production li:nth-child(2) {
	background-image: url("../imgs/middleCircle.png");
}
#production li:last-child {
	background-image: url("../imgs/rightCircle.png");
}
#production input[type=image] {
	position: absolute;
	top: 200px;
	left: 87px;
}
#blablabla {
	width: 700px;
	font-size: 0.8em;
	text-align: center;
	position: absolute;
	top: 500px;
	left: 280px;
	line-height: 1.5em;
}
/*====================================================================================*/
#problems {
	position: relative;
	top: 65px;
	font-family: Roboto Slab, serif;
	height: 580px;
}
#problems div{
	position: absolute;
	top: 130px;
	left: 320px;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}
#problems div span:first-child {
	font-size: 0.7em;
}
#problems ul {
	position: absolute;
	top: 275px;
	left: 530px;
}
#problems img {
	position: relative;
	top: 280px;
	left: 200px;
}
#problems li {
	line-height: 2.2em;
	font-size: 0.8em;
}

#problems li:nth-child(1) {
	list-style-image: url("../imgs/pic1.png");
}
#problems li:nth-child(2) {
	list-style-image: url("../imgs/pic2.png");
}
#problems li:nth-child(3) {
	list-style-image: url("../imgs/pic3.png");
}
#problems li:nth-child(4) {
	list-style-image: url("../imgs/pic4.png");
}
#problems li:nth-child(5) {
	list-style-image: url("../imgs/pic5.png");
}
#problems li:nth-child(6) {
	list-style-image: url("../imgs/pic6.png");
}
#problems li:nth-child(7) {
	list-style-image: url("../imgs/pic7.png");
}
#problems li:nth-child(8) {
	list-style-image: url("../imgs/pic8.png");
}
#problems li:nth-child(9) {
	list-style-image: url("../imgs/pic9.png");
}
/*====================================================================================*/

#solutions {
	position: relative;
	top: 65px;
	height: 565px;
	background-image: url("../imgs/solutions_bg.png");
	color: white;
	font-family: Roboto Slab, serif;
}
#solutions div {
	position: absolute;
	top: 100px;
	left: 320px;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;

}
#solutions span {
	font-size: 1.1em;
}
#solutions ul {
	position: absolute;
	top: 225px;
	left: 530px;
}
#solutions li {
	list-style-image: url("../imgs/point1.png");
	line-height: 2.2em;
	font-size: 0.8em;
}
/*
#solutions li:nth-last-child(2) {
	line-height: 2.5em;
}
#solutions ul>li:last-child>span {
	line-height: -1.5em;
}*/
/*====================================================================================*/

#geography {
	position: relative;
	top: 65px;
	height: 970px;
	background-image: url("../imgs/geography.png");
	text-align: center;
	font-weight: bold;
	font-family: Roboto Slab, serif;
}
#geography_header {
	position: absolute;
	top: 75px;
	left: 325px;
	font-variant: small-caps;
	font-size: 2.8em;
}
#geography_desc {
	position: absolute;
	top: 205px;
	left: 295px;
	width: 650px;
	font-size: 0.9em;
}
#geography_desc>span {
	color: red;
}
#geography_quantity {
	position: absolute;
	top: 330px;
	left: 440px;
}
#geography_bgdesc {
	position: absolute;
	top: 670px;
	left: 485px;
	width: 290px;
	font-size: 0.9em;
	color: white;
}
/*====================================================================================*/
#reasons {
	position: relative;
	top: 65px;
	height: 1080px;
	width: 1260px;
	font-weight: bold;
	font-family: Roboto Slab, serif;
	text-align: center;
}
#reasons_header {
	position: absolute;
	top: 70px;
	left: 320px;
	font-variant: small-caps;
	font-size: 2.8em;
}
#reasons_desc {
	position: absolute;
	top: 150px;
	left: 400px;
	width: 450px;
	font-size: 0.8em;
	line-height: 1.7em;
}
#reasons_desc span:first-child {
	color: red;
}
#reasons_desc span:last-child {
	font-family: PT Sans, serif;
	font-style: italic;
	font-weight: normal;

}
#reasons_profit {
	position: relative;
	top: 250px;
	left: 200px;
	width: 865px;
	height: 123px;
	background-image: url("../imgs/profit.png");
	background-repeat: none;
}
#reasons_support {
	position: relative;
	top: 300px;
	left: 400px;
	width: 500px;
	height: 150px;
	font-size: 1.2em;
}
#reasons_list {
	position: relative;
	top: 240px;
	left: 200px;
	list-style-type: none;
	width: 900px;
}
#reasons_list>li {
	width: 285px;
	height: 40px;
	float: left;
	margin-right: 10px;
}
#reasons_list>li img {
	float: left;
}
#reasons_list>li div {
	font-weight: normal;
	text-align: left;
	padding-left: 50px;
	font-size: 0.9em;
}
#reasons_list>li span {
	font-weight: bold;
}
#r_slider_container {
	position: absolute;
	top: 625px;
	left: 200px;
	width: 865px;
	height: 400px;
	overflow: hidden;
}
.reasons_slider {
	position: absolute;
	width: 865px;
	height: 400px;
}
#r_slider_1 {
	left: 0px;
}
#r_slider_2 {
	left: 865px;
}
#r_slider_3 {
	left: 1730px;
}
.r_slider_img {
	float: left;
}
.r_slider_name {
	position: absolute;
	top: 40px;
	left: 330px;
	width: 450px;
	text-align: left;
}
.r_slider_name_1 {
	font-size: 1.3em;
}
.r_slider_name_2 {
	font-size: 0.8em;
	font-style: italic;	
}
.r_slider_name_3 {
	font-size: 0.6em;
	font-style: italic;	
}
.r_slider_progress {
	position: absolute;
	top: 130px;
	left: 330px;
	text-align: left;
}
.r_slider_desc {
	position: absolute;
	top: 220px;
	left: 330px;
	width: 500px;
	font-weight: normal;
	font-size: 0.8em;
	text-align: left;
	color: #444;
}
#r_slider_toggle {
	position: relative;
	top: 680px;
	left: 580px;
	width: 100px;
	height: 15px;
}
#r_slider_toggle img {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

/*====================================================================================*/

#comments {
	position: relative;
	top: 65px;
	height: 572px;
	width: 1260px;
	background-image: url("../imgs/comments.png");
}
#comments_header {
	position: absolute;
	top: 85px;
	left: 375px;
	font-size: 2em;
	font-weight: bold;
	font-family: Roboto Slab, serif;
}
#c_slider_container {
	position: absolute;
	top: 180px;
	left: 200px;
	width: 880px;
	height: 350px;
	overflow: hidden;
}
#comments_slider {
	position: absolute;
	left: 0px;
	list-style-type: none;
	font-family: Roboto Slab, serif;
	text-align: left;
	width: 1880px;
	height: 350px;
}
#comments_slider li {
	position: relative;
	float: left;
	width: 200px;
	height: 350px;
	margin-right: 20px;
	font-weight: normal;
}
#comments_slider li div {
	position: relative;
	width: 200px;
	height: 60px;
}
#comments_slider li span:nth-child(2) {
	font-weight: bold;
	font-size: 1.5em;
}
#comments_slider li span:nth-child(4) {
	font-style: italic;
	font-size: 0.9em;
}
#comments_slider li span:nth-child(6) {
	font-style: italic;
	font-size: 0.7em;
}
#comments_slider li div[name=desc] {
	margin-top: 30px;
	font-size: 0.8em;
	color: #444;
}
.comments_buttons {
	-webkit-transition: all 0.51s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	position: absolute;
	top: 320px;
	width: 12px;
	height: 20px;
	cursor: pointer;
}
.comments_buttons:hover {
	transform: scale(1.5);
}
.comments_buttons:active {
	transform: scale(1.1);	
}
#comments_pre {
	left: 150px;
	background-image: url("../imgs/comments_pre.png");
}
#comments_next {
	right: 150px;
	background-image: url("../imgs/comments_next.png");
}
/*====================================================================================*/

#diploms {
	position: relative;
	top: 65px;
	width: 1260px;
	height: 526px;
	background-image: url("../imgs/diploms.png");
}
#diploms_header {
	position: absolute;
	top: 85px;
	left: 370px;
	color: white;
	font-family: Roboto Slab, serif;
	font-weight: bold;
	font-size: 2.2em;
}
/*=====	ALL ======================================================================*/
input[type=image] {
	-webkit-transition: all 0.51s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
input[type=image]:hover {
	transform: scale(1.1);
}
input[type=image]:active {
	-webkit-transition: all0.51s ease;
	-moz-transition: all 0.01s ease;
	-o-transition: all 0.01s ease;
	-ms-transition: all 0.01s ease;
	transition: all 0.01s ease;
	transform: scale(1.05);	
}
* {
	margin: 0px;
	padding: 0px;
}