body {
	width: 1260px;
	margin: auto;
	outline: 1px solid orange;
}
#header {
	position: relative;
}
#header_logo {
	position: absolute;
	left: 200px;
}
#header_address {
	position: absolute;
	left: 400px;
	padding-top: 15px;
}
#header_address>span:first-child {
	font-size: 0.9em;
}
#header_phone {
	position: absolute;
	left: 730px;
	padding-top: 15px;
}
#header_takeCall {
	float: right;
	margin-right: 200px;
	margin-top: 15px;
}
.PTSans_bold {
	font-family: PT Sans, sans-serif;
	font-weight: bold;
}
.charterITC_italic {
	font-family: charterITC, serif;
	font-size: 0.9em;
}
/*====================================================================================*/

#menu {
	position: relative;
	top: 65px;
	height: 31px;
	background-image: url("../imgs/menu.jpg");
	background-repeat: repeat-y;
}
#menu ul {
	width: 1000px;
	position: absolute;
	left: 250px;
}
#menu li {
	list-style-type: none;
	float: left;
	padding-top: 5px;
	margin-left: 18px;
}
#menu li>a {
	color: white;
	font-size: 0.8em;
}
/*====================================================================================*/

#slider {
	position: relative;
	width: 1260px;
	height: 600px;
	background-image: url("../imgs/slider1.jpg");
	color: white;
	font-family: Roboto Slab, serif;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
}
#slider_text {
	width: 1000px;
	position: absolute;
	top: 80px;
	left: 130px;
	font-size: 2.7em;
}
#slider_phone {
	position: absolute;
	top: 250px;
	left: 440px;
	font-size: 2.7em;
}
#slider>input {
	position: absolute;
	top: 330px;
	left: 495px;
}
#slider_switch {
	position: absolute;
	top: 500px;
	left: 605px;	
}
* {
	margin: 0px;
	padding: 0px;
}